<a href="https://colab.research.google.com/github/vivekkash/MachineLearning/blob/master/Keras_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#from keras.models import Sequential
#from keras.layers.core import Dense, Dropout, Activation

import warnings
warnings.filterwarnings("ignore")

# load the data
data = pd.read_csv('https://raw.githubusercontent.com/bhushan45/churn_modeling/master/Churn_Modelling.csv')

# separate into features and target
X = data[["CreditScore", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "IsActiveMember", "EstimatedSalary"]]
y = data["Exited"]

# mean normalization and scaling
mean, std = np.mean(X), np.std(X)
X = (X - mean) / std
X = pd.concat([X, pd.get_dummies(data["Gender"], prefix="Gender", drop_first = True)], axis = 1)

# transform data according to the model input format
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state= 9, stratify=y)â€©

In [29]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [22]:
from sklearn.tree import DecisionTreeClassifier as DT

clf = DT()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy for Descision Tree {}'.format(accuracy_score(y_pred,y_test)))

Accuracy for Descision Tree 0.785

In [23]:
from sklearn.linear_model import LogisticRegression as L

log = L(C=1e5)
log.fit(X_train,y_train)
y_pred = log.predict(X_test)
print('Accuracy for Logistic Regression {}'.format(accuracy_score(y_pred,y_test)))

Accuracy for Logistic Regression 0.807

In [12]:
import keras
from keras.models import Sequential
from keras.layers.core import Layer,Dropout,Activation,Dense

In [26]:
model = Sequential()
model.add(Dense(10,input_shape=(X_train.shape[1],),activation='relu'))
model.add(Dense(20,activation='relu'))
model.add(Dense(5,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam')
model.fit(X_train,y_train,epochs=20,batch_size=100)

Epoch 1/20
8000/8000 [==============================] - 0s 30us/step - loss: 0.6011
Epoch 2/20
8000/8000 [==============================] - 0s 12us/step - loss: 0.4902
Epoch 3/20
8000/8000 [==============================] - 0s 12us/step - loss: 0.4438
Epoch 4/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.4151
Epoch 5/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3972
Epoch 6/20
8000/8000 [==============================] - 0s 14us/step - loss: 0.3857
Epoch 7/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3783
Epoch 8/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3735
Epoch 9/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3698
Epoch 10/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3666
Epoch 11/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3639
Epoch 12/20
8000/8000 [==============================] - 0s 14us/step - loss: 0.3623
Epoch 13/20
8000/8000 [==============================] - 0s 14us/step - loss: 0.3603
Epoch 14/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3584
Epoch 15/20
8000/8000 [==============================] - 0s 15us/step - loss: 0.3567
Epoch 16/20
8000/8000 [==============================] - 0s 16us/step - loss: 0.3557
Epoch 17/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3546
Epoch 18/20
8000/8000 [==============================] - 0s 13us/step - loss: 0.3537
Epoch 19/20
8000/8000 [==============================] - 0s 14us/step - loss: 0.3528
Epoch 20/20
8000/8000 [==============================] - 0s 15us/step - loss: 0.3520

In [28]:
y_pred = model.predict(X_test)
print('Accuracy for Keras {}'.format(accuracy_score(y_pred,y_test)))

ValueError: ignored