In [2]:
#library used in machine learning
#pandas
#sklearn
import numpy as np

In [3]:
weather = np.genfromtxt("/Users/03000070/Downloads/weather_small_2012.csv", delimiter=',',skip_header=1)

In [4]:
weather

array([[   nan,  -1.8 ,  -3.9 , ...,   4.  ,   8.  , 101.24],
       [   nan,  -1.8 ,  -3.7 , ...,   4.  ,   8.  , 101.24],
       [   nan,  -1.8 ,  -3.4 , ...,   7.  ,   4.  , 101.26],
       ...,
       [   nan,  -0.5 ,  -1.5 , ...,  28.  ,   4.8 ,  99.95],
       [   nan,  -0.2 ,  -1.8 , ...,  28.  ,   9.7 ,  99.91],
       [   nan,   0.  ,  -2.1 , ...,  30.  ,  11.3 ,  99.89]])

In [5]:
import pandas as pd

In [6]:
#datatype
#list, dict, tuples, nparray(numpy array), dataframes(pandas)

In [7]:
df = pd.read_csv("/Users/03000070/Downloads/weather_small_2012.csv")

In [9]:
df.head() #to get first 5 rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23

In [10]:
l = [[1,2,3],[4,5,6,],[7,8,9],[10,11,12]]

In [11]:
df = pd.DataFrame(l)

In [12]:
df

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [13]:
index = ["a","b","c","d"]
columns = ["p","q","r"]

In [14]:
df = pd.DataFrame(l, index=index,columns=columns) # renaming the rows and columns header

In [15]:
df

    p   q   r
a   1   2   3
b   4   5   6
c   7   8   9
d  10  11  12

In [16]:
df["p"] #accessing the columns

a     1
b     4
c     7
d    10
Name: p, dtype: int64

In [18]:
df["p"]["a"] #accessing the rows

1

In [19]:
df2 = pd.DataFrame([[30,"Mumbai","Yes"],[30,"Bangalore","Yes"]], index = ["shardul","Arunabh"], columns=["Age","City","Smoker"])

In [20]:
df2

         Age       City Smoker
shardul   30     Mumbai    Yes
Arunabh   30  Bangalore    Yes

In [21]:
df2["Age"] #data series, support for single cols

shardul    30
Arunabh    30
Name: Age, dtype: int64

In [22]:
df2[["Age"]] #data frames, support for multiple cols

         Age
shardul   30
Arunabh   30

In [24]:
weather = pd.read_csv("/Users/03000070/Downloads/weather_small_2012.csv")

In [25]:
#geometric mean is used in time series

In [26]:
weather.dtypes

Date/Time              object
Temp (C)              float64
Dew Point Temp (C)    float64
Rel Hum (%)             int64
Wind Spd (km/h)         int64
Visibility (km)       float64
Stn Press (kPa)       float64
dtype: object

In [27]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 7 columns):
Date/Time             8784 non-null object
Temp (C)              8784 non-null float64
Dew Point Temp (C)    8784 non-null float64
Rel Hum (%)           8784 non-null int64
Wind Spd (km/h)       8784 non-null int64
Visibility (km)       8784 non-null float64
Stn Press (kPa)       8784 non-null float64
dtypes: float64(4), int64(2), object(1)
memory usage: 480.5+ KB

In [28]:
weather.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [29]:
# to check if any cols has null value/ missing value

weather.isnull().sum()

Date/Time             0
Temp (C)              0
Dew Point Temp (C)    0
Rel Hum (%)           0
Wind Spd (km/h)       0
Visibility (km)       0
Stn Press (kPa)       0
dtype: int64

In [31]:
# if 30% of cols has missing value drop the cols, if its not super important so you have to use statistics to populate the vaue

In [32]:
list(weather) #list of cols

['Date/Time',
 'Temp (C)',
 'Dew Point Temp (C)',
 'Rel Hum (%)',
 'Wind Spd (km/h)',
 'Visibility (km)',
 'Stn Press (kPa)']

In [33]:
weather.columns # its index

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)'],
      dtype='object')

In [35]:
list(weather)[2:5]

['Dew Point Temp (C)', 'Rel Hum (%)', 'Wind Spd (km/h)']

In [36]:
auto = pd.read_csv("/Users/03000070/Downloads/Automobile_data.csv")

In [37]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [38]:
auto.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [39]:
# value count within cols
auto["make"].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [40]:
#getting unique value for the cols

auto["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [41]:
#getting unique number of elements in cols

auto["make"].nunique()

22

In [212]:
weather = pd.read_csv("/Users/03000070/Downloads/weather_2012.csv")

In [43]:
weather

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,Cloudy
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,Cloudy
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,Mostly Cloudy
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,Cloudy
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,Cloudy
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,Cloudy
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,Snow Showers
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,Snow
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,Snow
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [44]:
weather.isnull().sum()

Date/Time             0
Temp (C)              0
Dew Point Temp (C)    0
Rel Hum (%)           0
Wind Spd (km/h)       0
Visibility (km)       0
Stn Press (kPa)       0
Weather               0
dtype: int64

In [45]:
weather.dtypes

Date/Time              object
Temp (C)              float64
Dew Point Temp (C)    float64
Rel Hum (%)             int64
Wind Spd (km/h)         int64
Visibility (km)       float64
Stn Press (kPa)       float64
Weather                object
dtype: object

In [46]:
# converting the weather cols to lower
weather["Weather"] = weather["Weather"].str.lower()

In [47]:
weather.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog

In [48]:
# changing any cols to needed datatype
weather["Temp (C)"] = weather["Temp (C)"].astype("float")

In [49]:
"clear" in list(weather["Weather"])

True

In [50]:
clear = weather[(weather["Weather"]=="clear")]

In [51]:
clear

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
67,2012-01-03 19:00:00,-16.9,-24.8,50,24,25.0,101.74,clear
114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25.0,100.71,clear
115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25.0,100.80,clear
116,2012-01-05 20:00:00,-9.8,-15.7,62,9,25.0,100.83,clear
117,2012-01-05 21:00:00,-9.0,-14.8,63,13,25.0,100.83,clear
241,2012-01-11 01:00:00,-10.7,-17.8,56,17,25.0,101.49,clear
242,2012-01-11 02:00:00,-12.0,-18.9,56,19,25.0,101.57,clear
243,2012-01-11 03:00:00,-12.7,-19.4,57,19,25.0,101.64,clear
244,2012-01-11 04:00:00,-13.4,-20.1,57,17,25.0,101.66,clear
344,2012-01-15 08:00:00,-23.3,-28.5,62,7,24.1,102.45,clear
351,2012-01-15 15:00:00,-15.4,-22.8,53,24,48.3,102.71,clear
352,2012-01-15 16:00:00,-15.1,-22.8,52,24,48.3,102.79,clear
353,2012-01-15 17:00:00,-16.2,-23.2,55,15,25.0,102.85,clear
354,2012-01-15 18:00:00,-16.3,-22.9,57,17,25.0,102.89,clear
355,2012-01-15 19:00:00,-16.3,-22.7,58,20,25.0,102.94,clear
356,2012-01-15 20:00:00,-16.7,-22.4,61,17,25.0,102.98,clear
357,2012-01-15 21:00:00,-16.9,-22.2,63,15,25.0,103.02,clear
358,2012-01-15 22:00:00,-16.9,-21.7,66,17,25.0,103.07,clear
359,2012-01-15 23:00:00,-16.9,-21.4,68,15,25.0,103.09,clear
360,2012-01-16 00:00:00,-17.1,-21.9,66,15,25.0,103.09,clear
361,2012-01-16 01:00:00,-17.8,-22.7,65,6,25.0,103.05,clear
362,2012-01-16 02:00:00,-18.5,-23.0,68,6,25.0,103.08,clear
363,2012-01-16 03:00:00,-19.2,-23.8,67,6,25.0,103.07,clear
364,2012-01-16 04:00:00,-18.7,-23.5,66,0,25.0,103.05,clear
365,2012-01-16 05:00:00,-19.1,-23.3,69,0,25.0,103.02,clear
366,2012-01-16 06:00:00,-18.7,-23.2,68,0,25.0,103.01,clear
425,2012-01-18 17:00:00,-11.3,-18.8,54,26,48.3,101.54,clear
426,2012-01-18 18:00:00,-12.0,-18.2,60,22,25.0,101.67,clear
427,2012-01-18 19:00:00,-12.7,-18.7,61,22,25.0,101.78,clear
428,2012-01-18 20:00:00,-13.4,-19.2,62,17,25.0,101.83,clear
...,...,...,...,...,...,...,...,...
8380,2012-12-15 04:00:00,-8.5,-13.8,66,15,25.0,102.42,clear
8381,2012-12-15 05:00:00,-9.3,-14.2,67,20,25.0,102.47,clear
8382,2012-12-15 06:00:00,-9.9,-14.5,69,17,25.0,102.58,clear
8383,2012-12-15 07:00:00,-10.2,-15.1,67,19,48.3,102.63,clear
8384,2012-12-15 08:00:00,-10.7,-15.6,67,13,48.3,102.69,clear
8385,2012-12-15 09:00:00,-10.4,-15.9,64,19,48.3,102.74,clear
8389,2012-12-15 13:00:00,-8.4,-14.7,60,19,48.3,102.64,clear
8394,2012-12-15 18:00:00,-9.1,-15.1,62,17,25.0,102.54,clear
8396,2012-12-15 20:00:00,-8.7,-15.1,60,20,25.0,102.50,clear
8599,2012-12-24 07:00:00,-11.1,-13.9,80,15,25.0,101.23,clear
8600,2012-12-24 08:00:00,-11.0,-13.9,79,13,25.0,101.32,clear
8601,2012-12-24 09:00:00,-10.5,-13.7,77,13,24.1,101.41,clear
8610,2012-12-24 18:00:00,-10.4,-13.8,76,9,25.0,101.45,clear
8631,2012-12-25 15:00:00,-7.1,-13.7,59,17,48.3,101.98,clear
8632,2012-12-25 16:00:00,-7.5,-13.9,60,11,48.3,102.03,clear
8633,2012-12-25 17:00:00,-8.3,-13.4,67,13,25.0,102.10,clear
8637,2012-12-25 21:00:00,-9.7,-12.5,80,4,25.0,102.28,clear
8638,2012-12-25 22:00:00,-10.9,-13.2,83,4,25.0,102.34,clear
8639,2012-12-25 23:00:00,-10.4,-12.7,83,11,25.0,102.45,clear
8640,2012-12-26 00:00:00,-11.8,-13.5,87,4,25.0,102.41,clear
8641,2012-12-26 01:00:00,-11.2,-12.9,87,6,25.0,102.42,clear
8642,2012-12-26 02:00:00,-12.7,-14.4,87,4,25.0,102.45,clear
8643,2012-12-26 03:00:00,-14.2,-15.8,88,6,25.0,102.52,clear
8644,2012-12-26 04:00:00,-13.1,-14.7,88,6,25.0,102.55,clear
8645,2012-12-26 05:00:00,-12.7,-14.1,89,4,25.0,102.48,clear
8646,2012-12-26 06:00:00,-13.4,-14.8,89,4,25.0,102.47,clear
8698,2012-12-28 10:00:00,-6.1,-8.6,82,19,24.1,101.27,clear
8713,2012-12-29 01:00:00,-11.9,-13.6,87,11,25.0,101.31,clear
8714,2012-12-29 02:00:00,-11.8,-13.1,90,13,25.0,101.33,clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear

In [53]:
#get the count of weather count

clear["Weather"].value_counts()

clear    1326
Name: Weather, dtype: int64

In [54]:
#get the temp > 0 with weathers
weather[(weather["Temp (C)"] > 0)]["Weather"]

13                        fog
14                        fog
15                        fog
16              mostly cloudy
17                     cloudy
18                       rain
19                       rain
20                     cloudy
21                     cloudy
22               rain showers
23                     cloudy
24               rain showers
25                     cloudy
26              mostly cloudy
27              mostly cloudy
28              mostly cloudy
29              mostly cloudy
30              mostly cloudy
31              mostly cloudy
32              mostly cloudy
33              mostly cloudy
34              mostly cloudy
35              mostly cloudy
36               mainly clear
37              mostly cloudy
38              mostly cloudy
167                      snow
168                    cloudy
216                    cloudy
217                      snow
                ...
8521    rain,snow,ice pellets
8522                rain,snow
8523    rain,snow,ice pellets
8524    rain,snow,ice pellets
8525    rain,snow,ice pellets
8526                rain,snow
8527                rain,snow
8528                rain,snow
8529                rain,snow
8530                     snow
8531                     snow
8532                     snow
8533                     snow
8534                     rain
8535                     rain
8536                     rain
8537                     rain
8538                     rain
8539                     rain
8540                     rain
8541                     rain
8542                     snow
8543         drizzle,snow,fog
8544         drizzle,snow,fog
8545                  drizzle
8546         drizzle,snow,fog
8547         drizzle,snow,fog
8548                     snow
8779                     snow
8780                     snow
Name: Weather, Length: 6600, dtype: object

In [55]:
#get the temp > 0 with weathers to get unique value
weather[(weather["Temp (C)"] > 0)]["Weather"].nunique()

37

In [66]:
#get number of rows the wind speed equl to 4 km/h
weather[(weather["Wind Spd (km/h)"] == 4)].shape[0]

474

In [64]:
#get number of rows the wind speed equl to 4 km/h

weather[(weather["Wind Spd (km/h)"] == 4)]["Wind Spd (km/h)"].value_counts()

4    474
Name: Wind Spd (km/h), dtype: int64

In [67]:
col = weather["Weather"]

In [68]:
col.head()

0                     fog
1                     fog
2    freezing drizzle,fog
3    freezing drizzle,fog
4                     fog
Name: Weather, dtype: object

In [69]:
d = pd.DataFrame(np.arange(1,17).reshape(4,4))

In [70]:
d.columns = ["a","b","c","d"]

In [71]:
d.index = ["m", "n", "o","p"]

In [72]:
d

    a   b   c   d
m   1   2   3   4
n   5   6   7   8
o   9  10  11  12
p  13  14  15  16

In [73]:
a  = [9,8,7,6]

In [74]:
a = pd.Series(a)

In [75]:
a

0    9
1    8
2    7
3    6
dtype: int64

In [76]:
# dataframes

weather[["Temp (C)","Rel Hum (%)"]]

      Temp (C)  Rel Hum (%)
0         -1.8           86
1         -1.8           87
2         -1.8           89
3         -1.5           88
4         -1.5           88
5         -1.4           87
6         -1.5           89
7         -1.4           85
8         -1.4           85
9         -1.3           88
10        -1.0           91
11        -0.5           89
12        -0.2           88
13         0.2           87
14         0.8           87
15         1.8           85
16         2.6           82
17         3.0           81
18         3.8           82
19         3.1           88
20         3.2           87
21         4.0           85
22         4.4           84
23         5.3           79
24         5.2           77
25         4.6           72
26         3.9           71
27         3.7           69
28         2.9           69
29         2.6           70
...        ...          ...
8754     -12.6           76
8755     -13.4           77
8756     -13.8           80
8757     -13.8           80
8758     -13.7           81
8759     -12.1           78
8760     -11.1           77
8761     -10.7           77
8762     -10.1           77
8763     -11.8           81
8764     -10.5           83
8765     -10.2           84
8766      -9.7           85
8767      -9.3           85
8768      -8.6           87
8769      -8.1           89
8770      -7.4           89
8771      -6.7           91
8772      -5.8           88
8773      -4.6           86
8774      -3.4           84
8775      -2.3           84
8776      -1.4           82
8777      -1.1           85
8778      -1.3           88
8779       0.1           81
8780       0.2           83
8781      -0.5           93
8782      -0.2           89
8783       0.0           86

[8784 rows x 2 columns]

In [77]:
weather[["Temp (C)","Rel Hum (%)"]].head()

   Temp (C)  Rel Hum (%)
0      -1.8           86
1      -1.8           87
2      -1.8           89
3      -1.5           88
4      -1.5           88

In [79]:
#slicing using iloc integer based location

weather[["Temp (C)","Rel Hum (%)"]].iloc[3:7,:]

   Temp (C)  Rel Hum (%)
3      -1.5           88
4      -1.5           88
5      -1.4           87
6      -1.5           89

In [80]:
#works with only rows so used iloc if wanna use for both rows and cols

weather[:6:2]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog

In [81]:
weather.head(25)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers

In [86]:
#how to get the 1st 3 alternating rows from the "weather" dataframes, but only the visibility and relative humidity columns
weather.iloc[:6:2,3:6:2]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

In [87]:
weather[:6:2][["Visibility (km)","Rel Hum (%)"]]

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

In [93]:
# if the index is not integer use loc else iloc

d.loc[["m","n"]][["a","b"]]

   a  b
m  1  2
n  5  6

In [94]:
d

    a   b   c   d
m   1   2   3   4
n   5   6   7   8
o   9  10  11  12
p  13  14  15  16

In [95]:
#dropping row or cols

d.index = d["a"]

In [96]:
d

     a   b   c   d
a
1    1   2   3   4
5    5   6   7   8
9    9  10  11  12
13  13  14  15  16

In [103]:
# dropping row 

#axis 0 is row

#axis 1 is col

d.drop(["b",1])

KeyError: "['b'] not found in axis"

In [104]:
d = pd.DataFrame(np.arange(1,17).reshape(4,4))

In [106]:
# dropping row 

#axis 0 is row

#axis 1 is col

d

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [107]:
d.columns = ["a","b","c","d"]
d.index = ["m", "n", "o","p"]

In [109]:
d

    a   b   c   d
m   1   2   3   4
n   5   6   7   8
o   9  10  11  12
p  13  14  15  16

In [115]:
d.drop(["b",axis=1])

SyntaxError: invalid syntax (<ipython-input-115-af2b6d9680e9>, line 1)

In [112]:
weather

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow

In [114]:
#weather["Weather"] = weather["Weather"].str.lower().str.replace("fog","greyatom")

#to get the Weather cols having word fog

weather[weather["Weather"].str.contains("fog")].head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog

In [118]:
weather[weather["Weather"].str.contains("fog")]

/bin/sh: weather[weather[Weather].str.contains(fog)]: command not found

In [120]:
#to get the Weather cols not having word fog
weather[~weather["Weather"].str.contains("fog")].head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy

In [124]:
add_10 = weather["Wind Spd (km/h)"]+10

In [125]:
add_10

0       14
1       14
2       17
3       16
4       17
5       19
6       17
7       17
8       19
9       25
10      19
11      17
12      19
13      23
14      30
15      32
16      23
17      23
18      25
19      25
20      29
21      30
22      34
23      40
24      45
25      49
26      42
27      43
28      42
29      42
        ..
8754    34
8755    36
8756    34
8757    30
8758    29
8759    38
8760    36
8761    25
8762    19
8763    16
8764    21
8765    16
8766    14
8767    10
8768    14
8769    14
8770    14
8771    19
8772    14
8773    14
8774    16
8775    19
8776    23
8777    29
8778    27
8779    40
8780    34
8781    38
8782    38
8783    40
Name: Wind Spd (km/h), Length: 8784, dtype: int64

In [126]:
weather["Wind_log"] = np.log(weather["Wind Spd (km/h)"])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [127]:
weather

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Wind_log
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog,1.386294
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog,1.386294
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog",1.945910
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog",1.791759
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog,1.945910
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog,2.197225
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog,1.945910
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog,1.945910
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog,2.197225
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog,2.708050
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog,2.197225
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog,1.945910
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog,2.197225
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog,2.564949
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog,2.995732
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog,3.091042
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy,2.564949
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy,2.564949
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain,2.708050
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain,2.708050
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy,2.944439
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy,2.995732
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers,3.178054
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy,3.401197
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers,3.555348
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy,3.663562
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy,3.465736
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy,3.496508
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy,3.465736
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy,3.465736
...,...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear,3.178054
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear,3.258097
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear,3.178054
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear,2.995732
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear,2.944439
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy,3.332205
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy,3.258097
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy,2.708050
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy,2.197225
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy,1.791759
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy,2.397895
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy,1.791759
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy,1.386294
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers,-inf
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers,1.386294
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow,1.386294
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog",1.386294
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow,2.197225
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow,1.386294
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow,1.386294
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow,1.791759
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow,2.197225
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow,2.564949
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow,2.944439
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow,2.833213
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow,3.401197
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow,3.178054
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow,3.332205
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow,3.332205
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow,3.401197

In [128]:
#droping the cols added above

weather.drop(["Wind_log"],1)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow

In [129]:
weather["capital"] = weather["Weather"].str.upper()

In [130]:
weather

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Wind_log,capital
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog,1.386294,FOG
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog,1.386294,FOG
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog",1.945910,"FREEZING DRIZZLE,FOG"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog",1.791759,"FREEZING DRIZZLE,FOG"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog,1.945910,FOG
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog,2.197225,FOG
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog,1.945910,FOG
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog,1.945910,FOG
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog,2.197225,FOG
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog,2.708050,FOG
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog,2.197225,FOG
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog,1.945910,FOG
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog,2.197225,FOG
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog,2.564949,FOG
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog,2.995732,FOG
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog,3.091042,FOG
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy,2.564949,MOSTLY CLOUDY
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy,2.564949,CLOUDY
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain,2.708050,RAIN
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain,2.708050,RAIN
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy,2.944439,CLOUDY
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy,2.995732,CLOUDY
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers,3.178054,RAIN SHOWERS
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy,3.401197,CLOUDY
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers,3.555348,RAIN SHOWERS
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy,3.663562,CLOUDY
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy,3.465736,MOSTLY CLOUDY
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy,3.496508,MOSTLY CLOUDY
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy,3.465736,MOSTLY CLOUDY
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy,3.465736,MOSTLY CLOUDY
...,...,...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear,3.178054,MAINLY CLEAR
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear,3.258097,MAINLY CLEAR
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear,3.178054,CLEAR
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear,2.995732,MAINLY CLEAR
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear,2.944439,MAINLY CLEAR
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy,3.332205,MOSTLY CLOUDY
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy,3.258097,CLOUDY
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy,2.708050,CLOUDY
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy,2.197225,CLOUDY
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy,1.791759,MOSTLY CLOUDY
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy,2.397895,CLOUDY
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy,1.791759,CLOUDY
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy,1.386294,CLOUDY
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers,-inf,SNOW SHOWERS
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers,1.386294,SNOW SHOWERS
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow,1.386294,SNOW
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog",1.386294,"SNOW,FOG"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow,2.197225,SNOW
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow,1.386294,SNOW
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow,1.386294,SNOW
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow,1.791759,SNOW
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow,2.197225,SNOW
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow,2.564949,SNOW
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow,2.944439,SNOW
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow,2.833213,SNOW
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow,3.401197,SNOW
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow,3.178054,SNOW
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow,3.332205,SNOW
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow,3.332205,SNOW
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow,3.401197,SNOW

In [131]:
weather.shape

(8784, 10)

In [132]:
weather.drop(["capital"],1)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Wind_log
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog,1.386294
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog,1.386294
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog",1.945910
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog",1.791759
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog,1.945910
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog,2.197225
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog,1.945910
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog,1.945910
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog,2.197225
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog,2.708050
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog,2.197225
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog,1.945910
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog,2.197225
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog,2.564949
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog,2.995732
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog,3.091042
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy,2.564949
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy,2.564949
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain,2.708050
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain,2.708050
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy,2.944439
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy,2.995732
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers,3.178054
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy,3.401197
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers,3.555348
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy,3.663562
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy,3.465736
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy,3.496508
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy,3.465736
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy,3.465736
...,...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear,3.178054
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear,3.258097
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear,3.178054
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear,2.995732
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear,2.944439
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy,3.332205
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy,3.258097
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy,2.708050
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy,2.197225
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy,1.791759
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy,2.397895
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy,1.791759
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy,1.386294
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers,-inf
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers,1.386294
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow,1.386294
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog",1.386294
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow,2.197225
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow,1.386294
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow,1.386294
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow,1.791759
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow,2.197225
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow,2.564949
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow,2.944439
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow,2.833213
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow,3.401197
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow,3.178054
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow,3.332205
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow,3.332205
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow,3.401197

In [133]:
weather.drop(["Wind_log"],1)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,capital
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog,FOG
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog,FOG
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog","FREEZING DRIZZLE,FOG"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog","FREEZING DRIZZLE,FOG"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog,FOG
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog,FOG
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog,FOG
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog,FOG
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog,FOG
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog,FOG
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog,FOG
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog,FOG
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog,FOG
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog,FOG
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog,FOG
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog,FOG
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy,MOSTLY CLOUDY
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy,CLOUDY
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain,RAIN
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain,RAIN
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy,CLOUDY
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy,CLOUDY
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers,RAIN SHOWERS
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy,CLOUDY
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers,RAIN SHOWERS
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy,CLOUDY
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy,MOSTLY CLOUDY
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy,MOSTLY CLOUDY
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy,MOSTLY CLOUDY
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy,MOSTLY CLOUDY
...,...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear,MAINLY CLEAR
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear,MAINLY CLEAR
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear,CLEAR
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear,MAINLY CLEAR
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear,MAINLY CLEAR
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy,MOSTLY CLOUDY
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy,CLOUDY
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy,CLOUDY
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy,CLOUDY
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy,MOSTLY CLOUDY
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy,CLOUDY
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy,CLOUDY
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy,CLOUDY
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers,SNOW SHOWERS
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers,SNOW SHOWERS
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow,SNOW
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog","SNOW,FOG"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow,SNOW
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow,SNOW
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow,SNOW
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow,SNOW
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow,SNOW
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow,SNOW
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow,SNOW
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow,SNOW
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow,SNOW
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow,SNOW
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow,SNOW
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow,SNOW
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow,SNOW

In [135]:
weather = weather.drop(["capital","Wind_log"],1)

In [136]:
weather

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,rain showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,rain showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,mostly cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,mostly cloudy
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,mostly cloudy
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,mostly cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,mainly clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,mainly clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,mainly clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,mainly clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,mostly cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,cloudy
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,cloudy
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,cloudy
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,mostly cloudy
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,cloudy
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,cloudy
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,cloudy
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,snow showers
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,snow showers
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,snow
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"snow,fog"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,snow
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,snow
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,snow
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,snow
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,snow
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,snow
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,snow
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,snow
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,snow

In [137]:
#change the temp from celcius to ferhenit
weather["Temp (C)"] = (weather["Temp (C)"] * 9 / 5 ) + 32

In [138]:
weather

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,28.76,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,28.76,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,29.30,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,29.30,-3.3,88,7,4.8,101.23,fog
5,2012-01-01 05:00:00,29.48,-3.3,87,9,6.4,101.27,fog
6,2012-01-01 06:00:00,29.30,-3.1,89,7,6.4,101.29,fog
7,2012-01-01 07:00:00,29.48,-3.6,85,7,8.0,101.26,fog
8,2012-01-01 08:00:00,29.48,-3.6,85,9,8.0,101.23,fog
9,2012-01-01 09:00:00,29.66,-3.1,88,15,4.0,101.20,fog
10,2012-01-01 10:00:00,30.20,-2.3,91,9,1.2,101.15,fog
11,2012-01-01 11:00:00,31.10,-2.1,89,7,4.0,100.98,fog
12,2012-01-01 12:00:00,31.64,-2.0,88,9,4.8,100.79,fog
13,2012-01-01 13:00:00,32.36,-1.7,87,13,4.8,100.58,fog
14,2012-01-01 14:00:00,33.44,-1.1,87,20,4.8,100.31,fog
15,2012-01-01 15:00:00,35.24,-0.4,85,22,6.4,100.07,fog
16,2012-01-01 16:00:00,36.68,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,37.40,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,38.84,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,37.58,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,37.76,1.3,87,19,25.0,99.50,cloudy
21,2012-01-01 21:00:00,39.20,1.7,85,20,25.0,99.39,cloudy
22,2012-01-01 22:00:00,39.92,1.9,84,24,19.3,99.32,rain showers
23,2012-01-01 23:00:00,41.54,2.0,79,30,25.0,99.31,cloudy
24,2012-01-02 00:00:00,41.36,1.5,77,35,25.0,99.26,rain showers
25,2012-01-02 01:00:00,40.28,0.0,72,39,25.0,99.26,cloudy
26,2012-01-02 02:00:00,39.02,-0.9,71,32,25.0,99.26,mostly cloudy
27,2012-01-02 03:00:00,38.66,-1.5,69,33,25.0,99.30,mostly cloudy
28,2012-01-02 04:00:00,37.22,-2.3,69,32,25.0,99.26,mostly cloudy
29,2012-01-02 05:00:00,36.68,-2.3,70,32,25.0,99.21,mostly cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,9.32,-16.0,76,24,25.0,101.36,mainly clear
8755,2012-12-30 19:00:00,7.88,-16.5,77,26,25.0,101.47,mainly clear
8756,2012-12-30 20:00:00,7.16,-16.5,80,24,25.0,101.52,clear
8757,2012-12-30 21:00:00,7.16,-16.5,80,20,25.0,101.50,mainly clear
8758,2012-12-30 22:00:00,7.34,-16.3,81,19,25.0,101.54,mainly clear
8759,2012-12-30 23:00:00,10.22,-15.1,78,28,25.0,101.52,mostly cloudy
8760,2012-12-31 00:00:00,12.02,-14.4,77,26,25.0,101.51,cloudy
8761,2012-12-31 01:00:00,12.74,-14.0,77,15,25.0,101.50,cloudy
8762,2012-12-31 02:00:00,13.82,-13.4,77,9,25.0,101.45,cloudy
8763,2012-12-31 03:00:00,10.76,-14.4,81,6,25.0,101.42,mostly cloudy
8764,2012-12-31 04:00:00,13.10,-12.8,83,11,25.0,101.34,cloudy
8765,2012-12-31 05:00:00,13.64,-12.4,84,6,25.0,101.28,cloudy
8766,2012-12-31 06:00:00,14.54,-11.7,85,4,25.0,101.23,cloudy
8767,2012-12-31 07:00:00,15.26,-11.3,85,0,19.3,101.19,snow showers
8768,2012-12-31 08:00:00,16.52,-10.3,87,4,3.2,101.14,snow showers
8769,2012-12-31 09:00:00,17.42,-9.6,89,4,2.4,101.09,snow
8770,2012-12-31 10:00:00,18.68,-8.9,89,4,6.4,101.05,"snow,fog"
8771,2012-12-31 11:00:00,19.94,-7.9,91,9,9.7,100.93,snow
8772,2012-12-31 12:00:00,21.56,-7.5,88,4,12.9,100.78,snow
8773,2012-12-31 13:00:00,23.72,-6.6,86,4,12.9,100.63,snow
8774,2012-12-31 14:00:00,25.88,-5.7,84,6,11.3,100.57,snow
8775,2012-12-31 15:00:00,27.86,-4.6,84,9,9.7,100.47,snow
8776,2012-12-31 16:00:00,29.48,-4.0,82,13,12.9,100.40,snow
8777,2012-12-31 17:00:00,30.02,-3.3,85,19,9.7,100.30,snow
8778,2012-12-31 18:00:00,29.66,-3.1,88,17,9.7,100.19,snow
8779,2012-12-31 19:00:00,32.18,-2.7,81,30,9.7,100.13,snow
8780,2012-12-31 20:00:00,32.36,-2.4,83,24,9.7,100.03,snow
8781,2012-12-31 21:00:00,31.10,-1.5,93,28,4.8,99.95,snow
8782,2012-12-31 22:00:00,31.64,-1.8,89,28,9.7,99.91,snow
8783,2012-12-31 23:00:00,32.00,-2.1,86,30,11.3,99.89,snow

In [139]:
{"Temp (C)" : "Temp (F)"}

{'Temp (C)': 'Temp (F)'}

In [142]:
weather.rename(columns= {'Temp (C)': 'Temp (F)'}, inplace=True)

In [143]:
weather

,Date/Time,Temp (F),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-3.9,86,4,8.0,101.24,fog
1,2012-01-01 01:00:00,28.76,-3.7,87,4,8.0,101.24,fog
2,2012-01-01 02:00:00,28.76,-3.4,89,7,4.0,101.26,"freezing drizzle,fog"
3,2012-01-01 03:00:00,29.30,-3.2,88,6,4.0,101.27,"freezing drizzle,fog"
4,2012-01-01 04:00:00,29.30,-3.3,88,7,4.8,101.23,fog
5,2012-01-01 05:00:00,29.48,-3.3,87,9,6.4,101.27,fog
6,2012-01-01 06:00:00,29.30,-3.1,89,7,6.4,101.29,fog
7,2012-01-01 07:00:00,29.48,-3.6,85,7,8.0,101.26,fog
8,2012-01-01 08:00:00,29.48,-3.6,85,9,8.0,101.23,fog
9,2012-01-01 09:00:00,29.66,-3.1,88,15,4.0,101.20,fog
10,2012-01-01 10:00:00,30.20,-2.3,91,9,1.2,101.15,fog
11,2012-01-01 11:00:00,31.10,-2.1,89,7,4.0,100.98,fog
12,2012-01-01 12:00:00,31.64,-2.0,88,9,4.8,100.79,fog
13,2012-01-01 13:00:00,32.36,-1.7,87,13,4.8,100.58,fog
14,2012-01-01 14:00:00,33.44,-1.1,87,20,4.8,100.31,fog
15,2012-01-01 15:00:00,35.24,-0.4,85,22,6.4,100.07,fog
16,2012-01-01 16:00:00,36.68,-0.2,82,13,12.9,99.93,mostly cloudy
17,2012-01-01 17:00:00,37.40,0.0,81,13,16.1,99.81,cloudy
18,2012-01-01 18:00:00,38.84,1.0,82,15,12.9,99.74,rain
19,2012-01-01 19:00:00,37.58,1.3,88,15,12.9,99.68,rain
20,2012-01-01 20:00:00,37.76,1.3,87,19,25.0,99.50,cloudy
21,2012-01-01 21:00:00,39.20,1.7,85,20,25.0,99.39,cloudy
22,2012-01-01 22:00:00,39.92,1.9,84,24,19.3,99.32,rain showers
23,2012-01-01 23:00:00,41.54,2.0,79,30,25.0,99.31,cloudy
24,2012-01-02 00:00:00,41.36,1.5,77,35,25.0,99.26,rain showers
25,2012-01-02 01:00:00,40.28,0.0,72,39,25.0,99.26,cloudy
26,2012-01-02 02:00:00,39.02,-0.9,71,32,25.0,99.26,mostly cloudy
27,2012-01-02 03:00:00,38.66,-1.5,69,33,25.0,99.30,mostly cloudy
28,2012-01-02 04:00:00,37.22,-2.3,69,32,25.0,99.26,mostly cloudy
29,2012-01-02 05:00:00,36.68,-2.3,70,32,25.0,99.21,mostly cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,9.32,-16.0,76,24,25.0,101.36,mainly clear
8755,2012-12-30 19:00:00,7.88,-16.5,77,26,25.0,101.47,mainly clear
8756,2012-12-30 20:00:00,7.16,-16.5,80,24,25.0,101.52,clear
8757,2012-12-30 21:00:00,7.16,-16.5,80,20,25.0,101.50,mainly clear
8758,2012-12-30 22:00:00,7.34,-16.3,81,19,25.0,101.54,mainly clear
8759,2012-12-30 23:00:00,10.22,-15.1,78,28,25.0,101.52,mostly cloudy
8760,2012-12-31 00:00:00,12.02,-14.4,77,26,25.0,101.51,cloudy
8761,2012-12-31 01:00:00,12.74,-14.0,77,15,25.0,101.50,cloudy
8762,2012-12-31 02:00:00,13.82,-13.4,77,9,25.0,101.45,cloudy
8763,2012-12-31 03:00:00,10.76,-14.4,81,6,25.0,101.42,mostly cloudy
8764,2012-12-31 04:00:00,13.10,-12.8,83,11,25.0,101.34,cloudy
8765,2012-12-31 05:00:00,13.64,-12.4,84,6,25.0,101.28,cloudy
8766,2012-12-31 06:00:00,14.54,-11.7,85,4,25.0,101.23,cloudy
8767,2012-12-31 07:00:00,15.26,-11.3,85,0,19.3,101.19,snow showers
8768,2012-12-31 08:00:00,16.52,-10.3,87,4,3.2,101.14,snow showers
8769,2012-12-31 09:00:00,17.42,-9.6,89,4,2.4,101.09,snow
8770,2012-12-31 10:00:00,18.68,-8.9,89,4,6.4,101.05,"snow,fog"
8771,2012-12-31 11:00:00,19.94,-7.9,91,9,9.7,100.93,snow
8772,2012-12-31 12:00:00,21.56,-7.5,88,4,12.9,100.78,snow
8773,2012-12-31 13:00:00,23.72,-6.6,86,4,12.9,100.63,snow
8774,2012-12-31 14:00:00,25.88,-5.7,84,6,11.3,100.57,snow
8775,2012-12-31 15:00:00,27.86,-4.6,84,9,9.7,100.47,snow
8776,2012-12-31 16:00:00,29.48,-4.0,82,13,12.9,100.40,snow
8777,2012-12-31 17:00:00,30.02,-3.3,85,19,9.7,100.30,snow
8778,2012-12-31 18:00:00,29.66,-3.1,88,17,9.7,100.19,snow
8779,2012-12-31 19:00:00,32.18,-2.7,81,30,9.7,100.13,snow
8780,2012-12-31 20:00:00,32.36,-2.4,83,24,9.7,100.03,snow
8781,2012-12-31 21:00:00,31.10,-1.5,93,28,4.8,99.95,snow
8782,2012-12-31 22:00:00,31.64,-1.8,89,28,9.7,99.91,snow
8783,2012-12-31 23:00:00,32.00,-2.1,86,30,11.3,99.89,snow

In [144]:
#sorting the value in ascending order

weather["Dew Point Temp (C)"].sort_values(ascending=True)

342    -28.5
344    -28.5
343    -28.0
345    -27.8
336    -26.8
346    -26.8
337    -26.6
340    -26.6
338    -26.6
341    -26.5
335    -26.2
339    -26.1
347    -26.1
334    -26.0
333    -25.9
332    -25.8
477    -25.6
348    -25.5
68     -25.4
1019   -25.3
478    -25.1
1018   -25.1
67     -24.8
476    -24.8
76     -24.6
75     -24.6
69     -24.6
70     -24.6
1017   -24.6
479    -24.5
        ...
4507    20.9
5216    21.0
4764    21.0
4511    21.0
4125    21.0
4124    21.1
5225    21.1
4723    21.1
4123    21.1
5229    21.2
4508    21.2
4761    21.3
5217    21.3
4509    21.7
4768    21.7
5228    21.8
4510    21.9
5224    22.0
5226    22.0
4767    22.0
5227    22.2
4769    22.2
5220    22.2
4765    22.3
5218    22.6
5222    22.9
5221    23.0
4766    23.1
5219    23.2
5223    24.4
Name: Dew Point Temp (C), Length: 8784, dtype: float64

In [145]:
#this will screw the data 

#weather["Dew Point Temp (C)"] = weather["Dew Point Temp (C)"].sort_values(ascending=True)

In [146]:
# get the top 10 dew point temp
weather["Dew Point Temp (C)"].sort_values(ascending=False).head(10)

5223    24.4
5219    23.2
4766    23.1
5221    23.0
5222    22.9
5218    22.6
4765    22.3
5220    22.2
4769    22.2
5227    22.2
Name: Dew Point Temp (C), dtype: float64

In [159]:
# get the top 10 temp 

top_10 = weather.loc[weather["Temp (F)"].sort_values(ascending=False).index].head(10)

In [160]:
#getting top 10 results unique weather

top_10["Weather"].unique()

array(['mainly clear', 'clear'], dtype=object)

In [167]:
#Temp mean of month may 

may = weather[weather["Date/Time"].str.contains("-05-")]

In [169]:
may["Temp (F)"].mean()

61.22798387096768

In [180]:
weather["Date/Time"] = pd.to_datetime(weather["Date/Time"])

In [181]:
weather["month"] = weather["Date/Time"].dt.month

In [182]:
weather[(weather["month"]==5)]["Temp (F)"].mean()

61.22798387096768

In [183]:
df3 = pd.DataFrame([[30,"Mumbai","Yes"],[30,"Bangalore","Yes"]], index = ["shardul","Arunabh"], columns=["Age","City","Smoker"])

In [184]:
df4 = pd.DataFrame([[30,"Navi Mumbai","Yes"],[30,"Bangalore","Yes"]], index = ["Guy1","Guy2"], columns=["Age","City","Smoker"])

In [186]:
#concatenate with two dataframe with rows
df5 = pd.concat([df3,df4])

In [227]:
df5

         Age         City Smoker
shardul   30       Mumbai    Yes
Arunabh   30    Bangalore    Yes
Guy1      30  Navi Mumbai    Yes
Guy2      30    Bangalore    Yes

In [188]:
#should not be used 
df6 = pd.concat([df3,df4],1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [189]:
df6

          Age       City Smoker   Age         City Smoker
Arunabh  30.0  Bangalore    Yes   NaN          NaN    NaN
Guy1      NaN        NaN    NaN  30.0  Navi Mumbai    Yes
Guy2      NaN        NaN    NaN  30.0    Bangalore    Yes
shardul  30.0     Mumbai    Yes   NaN          NaN    NaN

In [199]:
#remove the nan

df6.isnull().sum()

Age       2
City      2
Smoker    2
Age       2
City      2
Smoker    2
dtype: int64

In [200]:
df7= df6

In [203]:
df6.dropna()

Empty DataFrame
Columns: [Age, City, Smoker, Age, City, Smoker]
Index: []

In [207]:
df6.fillna(1)

          Age       City Smoker   Age         City Smoker
Arunabh  30.0  Bangalore    Yes   1.0            1      1
Guy1      1.0          1      1  30.0  Navi Mumbai    Yes
Guy2      1.0          1      1  30.0    Bangalore    Yes
shardul  30.0     Mumbai    Yes   1.0            1      1

In [209]:
nba = pd.read_csv("/Users/03000070/Downloads/nba.csv")

In [210]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
nba[nba["Team"]=="Boston Celtics"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [216]:
gk = nba.groupby("Team")

In [217]:
gk.get_group("Boston Celtics")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [218]:
ck = nba.groupby("College")

In [219]:
ck1 = nba.groupby(["Team","College"])

In [220]:
ck1.first()

                                                            Name  Number  \
Team               College
Atlanta Hawks      Bucknell                         Mike Muscala    31.0
                   Creighton                         Kyle Korver    26.0
                   Florida                            Al Horford    15.0
                   Kansas                           Kirk Hinrich    12.0
                   Louisiana Tech                   Paul Millsap     4.0
                   Michigan                     Tim Hardaway Jr.    10.0
                   Minnesota                      Kris Humphries    43.0
                   Old Dominion                    Kent Bazemore    24.0
                   Pittsburgh                    Lamar Patterson    13.0
                   Virginia                           Mike Scott    32.0
                   Wake Forest                       Jeff Teague     0.0
Boston Celtics     Boston University                John Holland    30.0
                   Georgia State                     R.J. Hunter    28.0
                   Gonzaga                          Kelly Olynyk    41.0
                   Kentucky                          James Young    13.0
                   LSU                             Jordan Mickey    55.0
                   Louisville                       Terry Rozier    12.0
                   Marquette                         Jae Crowder    99.0
                   North Carolina                   Tyler Zeller    44.0
                   Ohio State                    Jared Sullinger     7.0
                   Oklahoma State                   Marcus Smart    36.0
                   Texas                           Avery Bradley     0.0
                   Washington                      Isaiah Thomas     4.0
Brooklyn Nets      Arizona               Rondae Hollis-Jefferson    24.0
                   Cincinnati                    Sean Kilpatrick     6.0
                   Georgetown                         Henry Sims    14.0
                   Georgia Tech                     Jarrett Jack     2.0
                   Kansas                        Thomas Robinson    41.0
                   Miami (FL)                       Shane Larkin     0.0
                   North Carolina                Wayne Ellington    21.0
...                                                          ...     ...
San Antonio Spurs  Xavier                             David West    30.0
Toronto Raptors    Kentucky                    Patrick Patterson    54.0
                   Missouri                      DeMarre Carroll     5.0
                   Rider                          Jason Thompson     1.0
                   Texas                             Cory Joseph     6.0
                   UCLA                            Norman Powell    24.0
                   USC                             DeMar DeRozan    10.0
                   Utah                             Delon Wright    55.0
                   Villanova                          Kyle Lowry     7.0
                   Wake Forest                     James Johnson     3.0
                   Washington                      Terrence Ross    31.0
Utah Jazz          Butler                         Gordon Hayward    20.0
                   Clemson                         Trevor Booker    33.0
                   Colorado                           Alec Burks    10.0
                   Dayton                          Chris Johnson    23.0
                   Duke                              Rodney Hood     5.0
                   Georgia Tech                   Derrick Favors    15.0
                   Kansas                            Jeff Withey    24.0
                   Kentucky                           Trey Lyles    41.0
                   Michigan                           Trey Burke     3.0
Washington Wizards Boston College                   Jared Dudley     1.0
                   Florida                          Bradley Beal     3.0
                   Georgetown                    Otto Porter Jr.    22.0
                   Kansas                            Drew Gooden    90.0
                   Kentucky                            John Wall     2.0
                   LSU                            Garrett Temple    17.0
                   Michigan State                  Alan Anderson     6.0
                   Nevada                         Ramon Sessions     7.0
                   North Carolina State               JJ Hickson    21.0
                   Virginia Tech                    Jarell Eddie     8.0

                                        Position   Age Height  Weight  \
Team               College
Atlanta Hawks      Bucknell                   PF  24.0   6-11   240.0
                   Creighton                  SG  35.0    6-7   212.0
                   Florida                     C  30.0   6-10   245.0
                   Kansas                     SG  35.0    6-4   190.0
                   Louisiana Tech             PF  31.0    6-8   246.0
                   Michigan                   SG  24.0    6-6   205.0
                   Minnesota                  PF  31.0    6-9   235.0
                   Old Dominion               SF  26.0    6-5   201.0
                   Pittsburgh                 SG  24.0    6-5   225.0
                   Virginia                   PF  27.0    6-8   237.0
                   Wake Forest                PG  27.0    6-2   186.0
Boston Celtics     Boston University          SG  27.0    6-5   205.0
                   Georgia State              SG  22.0    6-5   185.0
                   Gonzaga                     C  25.0    7-0   238.0
                   Kentucky                   SG  20.0    6-6   215.0
                   LSU                        PF  21.0    6-8   235.0
                   Louisville                 PG  22.0    6-2   190.0
                   Marquette                  SF  25.0    6-6   235.0
                   North Carolina              C  26.0    7-0   253.0
                   Ohio State                  C  24.0    6-9   260.0
                   Oklahoma State             PG  22.0    6-4   220.0
                   Texas                      PG  25.0    6-2   180.0
                   Washington                 PG  27.0    5-9   185.0
Brooklyn Nets      Arizona                    SG  21.0    6-7   220.0
                   Cincinnati                 SG  26.0    6-4   219.0
                   Georgetown                  C  26.0   6-10   248.0
                   Georgia Tech               PG  32.0    6-3   200.0
                   Kansas                     PF  25.0   6-10   237.0
                   Miami (FL)                 PG  23.0   5-11   175.0
                   North Carolina             SG  28.0    6-4   200.0
...                                          ...   ...    ...     ...
San Antonio Spurs  Xavier                     PF  35.0    6-9   250.0
Toronto Raptors    Kentucky                   PF  27.0    6-9   235.0
                   Missouri                   SF  29.0    6-8   212.0
                   Rider                      PF  29.0   6-11   250.0
                   Texas                      PG  24.0    6-3   190.0
                   UCLA                       SG  23.0    6-4   215.0
                   USC                        SG  26.0    6-7   220.0
                   Utah                       PG  24.0    6-5   190.0
                   Villanova                  PG  30.0    6-0   205.0
                   Wake Forest                PF  29.0    6-9   250.0
                   Washington                 SF  25.0    6-7   195.0
Utah Jazz          Butler                     SF  26.0    6-8   226.0
                   Clemson                    PF  28.0    6-8   228.0
                   Colorado                   SG  24.0    6-6   214.0
                   Dayton                     SF  26.0    6-6   206.0
                   Duke                       SG  23.0    6-8   206.0
                   Georgia Tech               PF  24.0   6-10   265.0
                   Kansas                      C  26.0    7-0   231.0
                   Kentucky                   PF  20.0   6-10   234.0
                   Michigan                   PG  23.0    6-1   191.0
Washington Wizards Boston College             SF  30.0    6-7   225.0
                   Florida                    SG  22.0    6-5   207.0
                   Georgetown                 SF  23.0    6-8   198.0
                   Kansas                     PF  34.0   6-10   250.0
                   Kentucky                   PG  25.0    6-4   195.0
                   LSU                        SG  30.0    6-6   195.0
                   Michigan State             SG  33.0    6-6   220.0
                   Nevada                     PG  30.0    6-3   190.0
                   North Carolina State        C  27.0    6-9   242.0
                   Virginia Tech              SG  24.0    6-7   218.0

                                             Salary
Team               College
Atlanta Hawks      Bucknell                947276.0
                   Creighton              5746479.0
                   Florida               12000000.0
                   Kansas                 2854940.0
                   Louisiana Tech        18671659.0
                   Michigan               1304520.0
                   Minnesota              1000000.0
                   Old Dominion           2000000.0
                   Pittsburgh              525093.0
                   Virginia               3333333.0
                   Wake Forest            8000000.0
Boston Celtics     Boston University            NaN
                   Georgia State          1148640.0
                   Gonzaga                2165160.0
                   Kentucky               1749840.0
                   LSU                    1170960.0
                   Louisville             1824360.0
                   Marquette              6796117.0
                   North Carolina         2616975.0
                   Ohio State             2569260.0
                   Oklahoma State         3431040.0
                   Texas                  7730337.0
                   Washington             6912869.0
Brooklyn Nets      Arizona                1335480.0
                   Cincinnati              134215.0
                   Georgetown              947276.0
                   Georgia Tech           6300000.0
                   Kansas                  981348.0
                   Miami (FL)             1500000.0
                   North Carolina         1500000.0
...                                             ...
San Antonio Spurs  Xavier                 1499187.0
Toronto Raptors    Kentucky               6268675.0
                   Missouri              13600000.0
                   Rider                   245177.0
                   Texas                  7000000.0
                   UCLA                    650000.0
                   USC                   10050000.0
                   Utah                   1509360.0
                   Villanova             12000000.0
                   Wake Forest            2500000.0
                   Washington             3553917.0
Utah Jazz          Butler                15409570.0
                   Clemson                4775000.0
                   Colorado               9463484.0
                   Dayton                  981348.0
                   Duke                   1348440.0
                   Georgia Tech          12000000.0
                   Kansas                  947276.0
                   Kentucky               2239800.0
                   Michigan               2658240.0
Washington Wizards Boston College         4375000.0
                   Florida                5694674.0
                   Georgetown             4662960.0
                   Kansas                 3300000.0
                   Kentucky              15851950.0
                   LSU                    1100602.0
                   Michigan State         4000000.0
                   Nevada                 2170465.0
                   North Carolina State    273038.0
                   Virginia Tech           561716.0

[336 rows x 7 columns]

In [221]:
# merge, join and diff from concat

In [225]:
starwars = pd.read_csv("/Users/03000070/Downloads/StarWars.csv", encoding="latin - 1")

In [226]:
starwars

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂŒÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3.292719e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Han,Yes,No,Yes,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3.292685e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,High school degree,East North Central
8,3.292664e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,Yes,Male,18-29,NaN,High school degree,South Atlantic
9,3.292654e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic
10,3.292640e+09,Yes,No,NaN,Star Wars: Episode II Attack of the Clones,NaN,NaN,NaN,NaN,1,...,Very favorably,I don't understand this question,No,NaN,No,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
11,3.292638e+09,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3.292635e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3.292609e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Greedo,No,NaN,No,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic
14,3.292597e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,NaN,No,Male,30-44,"$50,000 - $99,999",Graduate degree,Mountain
15,3.292587e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,High school degree,East North Central
16,3.292583e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Somewhat favorably,Han,Yes,Yes,Yes,Male,18-29,"$0 - $24,999",Some college or Associate degree,West South Central
17,3.292581e+09,Yes,Yes,NaN,NaN,NaN,Star Wars: Episode IV A New Hope,NaN,NaN,4,...,Very unfavorably,Han,Yes,Yes,No,Male,18-29,"$50,000 - $99,999",Bachelor degree,New England
18,3.292573e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Greedo,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
19,3.292565e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,High school degree,South Atlantic
20,3.292562e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Greedo,No,NaN,Yes,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West North Central
21,3.292522e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Pacific
22,3.292521e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,NaN,3,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,NaN,No,Male,18-29,NaN,Bachelor degree,Pacific
23,3.292512e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Greedo,Yes,Yes,Yes,Male,18-29,"$50,000 - $99,999",Bachelor degree,South Atlantic
24,3.292483e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Bachelor degree,Pacific
25,3.292465e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,NaN,East North Central
26,3.292448e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",High school degree,East South Central
27,3.292420e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,South Atlantic
28,3.292384e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Greedo,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
29,3.292380e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,3.288426e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,No,NaN,No,Female,30-44,"$50,000 - $99,999",Graduate degree,Middle Atlantic
1158,3.288423e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1159,3.288423e+09,Yes,No,NaN,NaN,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,2,...,Very favorably,I don't understand this question,No,NaN,No,Female,45-60,"$0 - $24,999",Bachelor degree,Pacific
1160,3.288422e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,> 60,"$0 - $24,999",Some college or Associate degree,West South Central
1161,3.288421e+09,Yes,No,Star Wars: Episode I The Phantom Menace,NaN,Star Wars: Episode III Revenge of the Sith,NaN,NaN,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
1162,3.288418e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Neither favorably nor unfavorably (neutral),Greedo,No,NaN,No,NaN,NaN,NaN,NaN,NaN
1163,3.288418e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,NaN,NaN,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$25,000 - $49,999",Graduate degree,South Atlantic
1164,3.288417e+09,Yes,No,NaN,NaN,NaN,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,Yes,No,No,Female,> 60,NaN,Bachelor degree,New England
1165,3.288415e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Neither favorably nor unfavorably (neutral),Han,No,NaN,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1166,3.288414e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Greedo,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1167,3.288413e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$150,000+",Some college or Associate degree,South Atlantic
1168,3.288410e+09,Yes,No,Star Wars: Episode I The Phantom Menace,NaN,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Greedo,Yes,No,No,Female,30-44,NaN,Graduate degree,East North Central
1169,3.288410e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$150,000+",Graduate degree,East North Central
1170,3.288409e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,NaN,NaN,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,Yes,Male,45-60,"$25,000 - $49,999",Bachelor degree,South Atlantic
1171,3.288403e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,45-60,NaN,Graduate degree,East North Central
1172,3.288403e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Somewhat unfavorably,Han,Yes,Yes,Yes,Female,> 60,"$25,000 - $49,999",Bachelor degree,Mountain
1173,3.288403e+09,Yes,Yes,NaN,NaN,NaN,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,2,...,Somewhat favorably,Greedo,Yes,No,Yes,Female,> 60,NaN,High school degree,Pacific
1174,3.288403e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,No,NaN,Yes,Female,30-44,NaN,Bachelor degree,Middle Atlantic
1175,3.288402e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,> 60,NaN,Some college or Associate degree,West North Central
1176,3.288401e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Somewhat favorably,Han,Yes,No,Yes,Female,45-60,"$50,000 - $99,999",Graduate degree,West South Central
1177,3.288398e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,NaN,NaN,2,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,NaN,No,Female,45-60,"$0 - $24,999",High school degree,Middle Atlantic
1178,3.288396e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,> 60,"$50,000 - $99,999",Some college or Associate degree,Pacific
1179,3.288395e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,18-29,NaN,Less than high school degree,West North Central
1180,3.288392e+09,Yes,Yes,NaN,NaN,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$0 - $24,999",Some college or Associate degree,West North Central
1181,3.288390e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Han,No,NaN,No,Female,45-60,"$0 - $24,999",Some college or Associate degree,Pacific
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1184,3.288375e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

In [228]:
starwars.dtypes

RespondentID                                                                                                                                     float64
Have you seen any of the 6 films in the Star Wars franchise?                                                                                      object
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                             object
Which of the following Star Wars films have you seen? Please select all that apply.                                                               object
Unnamed: 4                                                                                                                                        object
Unnamed: 5                                                                                                                                        object
Unnamed: 6                                                                                                                                        object
Unnamed: 7                                                                                                                                        object
Unnamed: 8                                                                                                                                        object
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.     object
Unnamed: 10                                                                                                                                       object
Unnamed: 11                                                                                                                                       object
Unnamed: 12                                                                                                                                       object
Unnamed: 13                                                                                                                                       object
Unnamed: 14                                                                                                                                       object
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                    object
Unnamed: 16                                                                                                                                       object
Unnamed: 17                                                                                                                                       object
Unnamed: 18                                                                                                                                       object
Unnamed: 19                                                                                                                                       object
Unnamed: 20                                                                                                                                       object
Unnamed: 21                                                                                                                                       object
Unnamed: 22                                                                                                                                       object
Unnamed: 23                                                                                                                                       object
Unnamed: 24                                                                                                                                       object
Unnamed: 25                                                                                                                                       object
Unnamed: 26                                                                                                                                       object
Unnamed: 27                                                                                                                                       object
Unnamed: 28                                                                                                                                       object
Which character shot first?                                                                                                                       object
Are you familiar with the Expanded Universe?                                                                                                      object
Do you consider yourself to be a fan of the Expanded Universe?ÂŒÃ¦                                                                                  object
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                  object
Gender                                                                                                                                            object
Age                                                                                                                                               object
Household Income                                                                                                                                  object
Education                                                                                                                                         object
Location (Census Region)                                                                                                                          object
dtype: object

In [229]:
starwars.isnull().sum()

RespondentID                                                                                                                                       1
Have you seen any of the 6 films in the Star Wars franchise?                                                                                       0
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                            350
Which of the following Star Wars films have you seen? Please select all that apply.                                                              513
Unnamed: 4                                                                                                                                       615
Unnamed: 5                                                                                                                                       636
Unnamed: 6                                                                                                                                       579
Unnamed: 7                                                                                                                                       428
Unnamed: 8                                                                                                                                       448
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    351
Unnamed: 10                                                                                                                                      350
Unnamed: 11                                                                                                                                      351
Unnamed: 12                                                                                                                                      350
Unnamed: 13                                                                                                                                      350
Unnamed: 14                                                                                                                                      350
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                   357
Unnamed: 16                                                                                                                                      355
Unnamed: 17                                                                                                                                      355
Unnamed: 18                                                                                                                                      363
Unnamed: 19                                                                                                                                      361
Unnamed: 20                                                                                                                                      372
Unnamed: 21                                                                                                                                      360
Unnamed: 22                                                                                                                                      366
Unnamed: 23                                                                                                                                      374
Unnamed: 24                                                                                                                                      359
Unnamed: 25                                                                                                                                      356
Unnamed: 26                                                                                                                                      365
Unnamed: 27                                                                                                                                      372
Unnamed: 28                                                                                                                                      360
Which character shot first?                                                                                                                      358
Are you familiar with the Expanded Universe?                                                                                                     358
Do you consider yourself to be a fan of the Expanded Universe?ÂŒÃ¦                                                                                 973
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                 118
Gender                                                                                                                                           140
Age                                                                                                                                              140
Household Income                                                                                                                                 328
Education                                                                                                                                        150
Location (Census Region)                                                                                                                         143
dtype: int64

In [230]:
starwars.fillna(0)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂŒÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,0.000000e+00,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,0,High school degree,South Atlantic
2,3.292880e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,0,0,0,1,...,Unfamiliar (N/A),I don't understand this question,No,0,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,0,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3.292719e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Han,Yes,No,Yes,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3.292685e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,Yes,No,No,Male,18-29,0,High school degree,East North Central
8,3.292664e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,0,Yes,Male,18-29,0,High school degree,South Atlantic
9,3.292654e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Han,No,0,No,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic
10,3.292640e+09,Yes,No,0,Star Wars: Episode II Attack of the Clones,0,0,0,0,1,...,Very favorably,I don't understand this question,No,0,No,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
11,3.292638e+09,Yes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,3.292635e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,3.292609e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Greedo,No,0,No,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic
14,3.292597e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,0,No,Male,30-44,"$50,000 - $99,999",Graduate degree,Mountain
15,3.292587e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,0,No,Male,18-29,0,High school degree,East North Central
16,3.292583e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Somewhat favorably,Han,Yes,Yes,Yes,Male,18-29,"$0 - $24,999",Some college or Associate degree,West South Central
17,3.292581e+09,Yes,Yes,0,0,0,Star Wars: Episode IV A New Hope,0,0,4,...,Very unfavorably,Han,Yes,Yes,No,Male,18-29,"$50,000 - $99,999",Bachelor degree,New England
18,3.292573e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,0,0,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Greedo,No,0,No,Male,18-29,0,Some college or Associate degree,Middle Atlantic
19,3.292565e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,No,0,No,Male,18-29,0,High school degree,South Atlantic
20,3.292562e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Greedo,No,0,Yes,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West North Central
21,3.292522e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,No,0,No,Male,18-29,0,Some college or Associate degree,Pacific
22,3.292521e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,0,3,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,0,No,Male,18-29,0,Bachelor degree,Pacific
23,3.292512e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Greedo,Yes,Yes,Yes,Male,18-29,"$50,000 - $99,999",Bachelor degree,South Atlantic
24,3.292483e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,No,0,No,Male,18-29,"$0 - $24,999",Bachelor degree,Pacific
25,3.292465e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Han,No,0,No,Male,18-29,0,0,East North Central
26,3.292448e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,Yes,Male,18-29,"$0 - $24,999",High school degree,East South Central
27,3.292420e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,South Atlantic
28,3.292384e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Greedo,No,0,No,Male,18-29,0,Some college or Associate degree,Middle Atlantic
29,3.292380e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,Yes,No,No,Male,18-29,0,Some college or Associate degree,Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,3.288426e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,No,0,No,Female,30-44,"$50,000 - $99,999",Graduate degree,Middle Atlantic
1158,3.288423e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1159,3.288423e+09,Yes,No,0,0,0,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,2,...,Very favorably,I don't understand this question,No,0,No,Female,45-60,"$0 - $24,999",Bachelor degree,Pacific
1160,3.288422e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,No,Female,> 60,"$0 - $24,999",Some college or Associate degree,West South Central
1161,3.288421e+09,Yes,No,Star Wars: Episode I The Phantom Menace,0,Star Wars: Episode III Revenge of the Sith,0,0,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,No,0,No,Female,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
1162,3.288418e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Neither favorably nor unfavorably (neutral),Greedo,No,0,No,0,0,0,0,0
1163,3.288418e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,0,0,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,0,No,Female,18-29,"$25,000 - $49,999",Graduate degree,South Atlantic
1164,3.288417e+09,Yes,No,0,0,0,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,Yes,No,No,Female,> 60,0,Bachelor degree,New England
1165,3.288415e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Neither favorably nor unfavorably (neutral),Han,No,0,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1166,3.288414e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Greedo,No,0,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1167,3.288413e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,I don't understand this question,No,0,No,Female,18-29,"$150,000+",Some college or Associate degree,South Atlantic
1168,3.288410e+09,Yes,No,Star Wars: Episode I The Phantom Menace,0,0,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Greedo,Yes,No,No,Female,30-44,0,Graduate degree,East North Central
1169,3.288410e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,No,Female,30-44,"$150,000+",Graduate degree,East North Central
1170,3.288409e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,0,0,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,0,Yes,Male,45-60,"$25,000 - $49,999",Bachelor degree,South Atlantic
1171,3.288403e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,No,Female,45-60,0,Graduate degree,East North Central
1172,3.288403e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Somewhat unfavorably,Han,Yes,Yes,Yes,Female,> 60,"$25,000 - $49,999",Bachelor degree,Mountain
1173,3.288403e+09,Yes,Yes,0,0,0,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,2,...,Somewhat favorably,Greedo,Yes,No,Yes,Female,> 60,0,High school degree,Pacific
1174,3.288403e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,No,0,Yes,Female,30-44,0,Bachelor degree,Middle Atlantic
1175,3.288402e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,0,0,0,1,...,Very favorably,I don't understand this question,No,0,Yes,Female,> 60,0,Some college or Associate degree,West North Central
1176,3.288401e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Somewhat favorably,Han,Yes,No,Yes,Female,45-60,"$50,000 - $99,999",Graduate degree,West South Central
1177,3.288398e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,0,0,0,0,2,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,0,No,Female,45-60,"$0 - $24,999",High school degree,Middle Atlantic
1178,3.288396e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,I don't understand this question,No,0,Yes,Male,> 60,"$50,000 - $99,999",Some college or Associate degree,Pacific
1179,3.288395e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,No,Female,18-29,0,Less than high school degree,West North Central
1180,3.288392e+09,Yes,Yes,0,0,0,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Han,No,0,Yes,Female,45-60,"$0 - $24,999",Some college or Associate degree,West North Central
1181,3.288390e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,Han,No,0,No,Female,45-60,"$0 - $24,999",Some college or Associate degree,Pacific
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,No,0,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,0,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1184,3.288375e+09,No,0,0,0,0,0,0,0,0,...,0,0,0,0,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,0,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,0,0,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very unfavorably,I don't understand this question,No,0,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

In [234]:
starwars.fillna(0).isnull().sum()

RespondentID                                                                                                                                     0
Have you seen any of the 6 films in the Star Wars franchise?                                                                                     0
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                            0
Which of the following Star Wars films have you seen? Please select all that apply.                                                              0
Unnamed: 4                                                                                                                                       0
Unnamed: 5                                                                                                                                       0
Unnamed: 6                                                                                                                                       0
Unnamed: 7                                                                                                                                       0
Unnamed: 8                                                                                                                                       0
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    0
Unnamed: 10                                                                                                                                      0
Unnamed: 11                                                                                                                                      0
Unnamed: 12                                                                                                                                      0
Unnamed: 13                                                                                                                                      0
Unnamed: 14                                                                                                                                      0
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                   0
Unnamed: 16                                                                                                                                      0
Unnamed: 17                                                                                                                                      0
Unnamed: 18                                                                                                                                      0
Unnamed: 19                                                                                                                                      0
Unnamed: 20                                                                                                                                      0
Unnamed: 21                                                                                                                                      0
Unnamed: 22                                                                                                                                      0
Unnamed: 23                                                                                                                                      0
Unnamed: 24                                                                                                                                      0
Unnamed: 25                                                                                                                                      0
Unnamed: 26                                                                                                                                      0
Unnamed: 27                                                                                                                                      0
Unnamed: 28                                                                                                                                      0
Which character shot first?                                                                                                                      0
Are you familiar with the Expanded Universe?                                                                                                     0
Do you consider yourself to be a fan of the Expanded Universe?ÂŒÃ¦                                                                                 0
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                 0
Gender                                                                                                                                           0
Age                                                                                                                                              0
Household Income                                                                                                                                 0
Education                                                                                                                                        0
Location (Census Region)                                                                                                                         0
dtype: int64