Know : what is solver, what is can and cant do ?

SMOTE Is KNN method

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/03000070/Downloads/Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [5]:
!pip install imblearn

Collecting imblearn
  Downloading https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn (from imblearn)
  Downloading https://files.pythonhosted.org/packages/e6/62/08c14224a7e242df2cef7b312d2ef821c3931ec9b015ff93bb52ec8a10a3/imbalanced_learn-0.5.0-py3-none-any.whl (173kB)
    100% |████████████████████████████████| 174kB 768kB/s
Requirement already satisfied: scipy>=0.17 in /anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.2.1)
Collecting joblib>=0.11 (from imbalanced-learn->imblearn)
  Downloading https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl (278kB)
    100% |████████████████████████████████| 286kB 824kB/s
Requirement already satisfied: numpy>=1.11 in /anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.16.2)
Collecting scikit-learn>=0.21 (from imbalanced-learn->imblearn)
  Downloading https://files.pythonhosted.org/packages/e9/57/8a9889d49d0d77905af5a7524fb2b468d2ef5fc723684f51f5ca63efed0d/scikit_learn-0.21.3-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (10.5MB)
    100% |████████████████████████████████| 10.5MB 2.5MB/s
Installing collected packages: joblib, scikit-learn, imbalanced-learn, imblearn
  Found existing installation: scikit-learn 0.20.3
    Uninstalling scikit-learn-0.20.3:
      Successfully uninstalled scikit-learn-0.20.3
Successfully installed imbalanced-learn-0.5.0 imblearn-0.0 joblib-0.13.2 scikit-learn-0.21.3

In [6]:
from imblearn.over_sampling import SMOTE

In [7]:
sm = SMOTE(random_state=42)

In [30]:
X = df.drop(['Purchased'],1)
y = df['Purchased']

In [31]:
# if distance based, it has to be onehotencoded but now in this only two value so labelencoded

X.drop(['User ID'],1, inplace=True)

In [32]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])
X['Gender'] = X['Gender'].astype(str)

In [33]:
num = X.select_dtypes(include= np.number)
not_num = X.select_dtypes(exclude= np.number)

num = pd.DataFrame(scaler.fit_transform(num), columns=list(num))
X = pd.concat([num, not_num], 1)
X['Gender'] = X['Gender'].astype(int)

In [34]:
X.dtypes

Age                float64
EstimatedSalary    float64
Gender               int64
dtype: object

In [35]:
sm

SMOTE(k_neighbors=5, kind='deprecated', m_neighbors='deprecated', n_jobs=1,
      out_step='deprecated', random_state=42, ratio=None,
      sampling_strategy='auto', svm_estimator='deprecated')

In [36]:
y.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [37]:
X_res, y_res = sm.fit_sample(X, y.ravel())

In [38]:
X.shape

(400, 3)

In [39]:
# Applying logistics regression for both (X,y) and (X_res,y_res) and comparing the models 

from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, random_state = 42, test_size = 0.3)

from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, auc, accuracy_score

log_reg.fit(X_train,y_train)
y_pred = log_reg.predict(X_test)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [40]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.97      0.89        73
           1       0.94      0.68      0.79        47

    accuracy                           0.86       120
   macro avg       0.88      0.83      0.84       120
weighted avg       0.87      0.86      0.85       120

In [26]:
X = X_res
y = y_res

X_train, X_test, y_train, y_test = tts(X, y, random_state = 42, test_size = 0.3)

from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, auc, accuracy_score

log_reg.fit(X_train,y_train)
y_pred = log_reg.predict(X_test)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [27]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.87      0.83        75
           1       0.86      0.80      0.83        80

    accuracy                           0.83       155
   macro avg       0.83      0.83      0.83       155
weighted avg       0.83      0.83      0.83       155

In [41]:
# model selection with GridsearchCV has to be completed

### credit card fraud detection

In [43]:
df1 = pd.read_csv('/Users/03000070/Downloads/creditcard.csv')

In [44]:
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [46]:
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [47]:
df1.shape

(284807, 31)

In [48]:
df1['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [51]:
df1.to_pickle('/Users/03000070/Downloads/creditcard.pkl')

In [52]:
df1 = pd.read_pickle('/Users/03000070/Downloads/creditcard.pkl')

In [53]:
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [55]:
df1.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.919560e-15,5.688174e-16,-8.769071e-15,2.782312e-15,-1.552563e-15,2.010663e-15,-1.694249e-15,-1.927028e-16,-3.137024e-15,...,1.537294e-16,7.959909e-16,5.367590e-16,4.458112e-15,1.453003e-15,1.699104e-15,-3.660161e-16,-1.206049e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [56]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [58]:
df1['Time'] = scaler.fit_transform(np.array(df1['Time']).reshape(-1,1))
df1['Amount'] = scaler.fit_transform(np.array(df1['Amount']).reshape(-1,1))

In [59]:
df1.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000
mean,-1.015049e-14,3.919560e-15,5.688174e-16,-8.769071e-15,2.782312e-15,-1.552563e-15,2.010663e-15,-1.694249e-15,-1.927028e-16,-3.137024e-15,...,1.537294e-16,7.959909e-16,5.367590e-16,4.458112e-15,1.453003e-15,1.699104e-15,-3.660161e-16,-1.206049e-16,3.202236e-16,0.001727
std,1.000002e+00,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,1.000002e+00,0.041527
min,-1.996583e+00,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,-3.532294e-01,0.000000
25%,-8.552120e-01,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,-3.308401e-01,0.000000
50%,-2.131453e-01,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,-2.652715e-01,0.000000
75%,9.372174e-01,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,-4.471707e-02,0.000000
max,1.642058e+00,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,1.023622e+02,1.000000

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, train_test_split as tts
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, accuracy_score

In [61]:
log_reg = LogisticRegression()

In [62]:
X = df1.drop(['Class'],1)
y = df1['Class']

X_train, X_val, y_train, y_val = tts(X, y, test_size = 0.2, random_state = 42 )

In [81]:
X = X_train
y = y_train

params = {'C':np.arange(0.001,3,0.2), 'penalty':['l1','l2']}

In [84]:
params

{'C': array([1.000e-03, 2.010e-01, 4.010e-01, 6.010e-01, 8.010e-01, 1.001e+00,
        1.201e+00, 1.401e+00, 1.601e+00, 1.801e+00, 2.001e+00, 2.201e+00,
        2.401e+00, 2.601e+00, 2.801e+00]), 'penalty': ['l1', 'l2']}

In [88]:
log_reg_cv = GridSearchCV(log_reg,params,cv=5)

In [89]:
log_reg_cv

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'C': array([1.000e-03, 2.010e-01, 4.010e-01, 6.010e-01, 8.010e-01, 1.001e+00,
       1.201e+00, 1.401e+00, 1.601e+00, 1.801e+00, 2.001e+00, 2.201e+00,
       2.401e+00, 2.601e+00, 2.801e+00]),
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [90]:
import warnings
warnings.filterwarnings('ignore')
log_reg_cv.fit(X,y)

KeyboardInterrupt:

In [107]:
log_reg_cv.best_params_

{'C': 0.201, 'penalty': 'l2'}

In [108]:
# with sampling and reducing data

og_reg = LogisticRegression(random_state=42)
#taking sample since the dataset is large
ones = df1[(df1['Class'] == 1)].sample(10, random_state=42)
zeros = df1[(df1['Class'] == 0)].sample(1000, random_state=42)
df1 = pd.concat([zeros, ones])
#df1 = df1.sample(frac=1)
# Generate validation set
X = df1.drop(['Class'],1)
y = df1['Class']
X_train, X_val, y_train, y_val = tts(X,y, random_state=42, test_size=0.2)
#reassign X and y for GridSearchCV
X = X_train
y = y_train
#Defining params for GridSearchCV
params = {'C': np.arange(0.001, 3, 0.2), 'penalty': ['l1', 'l2']}
#Applying GridSearchCV
log_reg_cv = GridSearchCV(log_reg, cv=5, param_grid=params)
log_reg_cv.fit(X, y)
print(log_reg_cv.best_params_)
# Getting the best model from GridSearchCV
log_reg_best_model = log_reg_cv.best_estimator_
# Predicting Validation set from the best model
y_pred = log_reg_best_model.predict(X_val)
# Classification report using Validation set
print(classification_report(y_val,y_pred))

{'C': 0.201, 'penalty': 'l2'}
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       201
           1       0.00      0.00      0.00         1

    accuracy                           1.00       202
   macro avg       0.50      0.50      0.50       202
weighted avg       0.99      1.00      0.99       202

In [109]:
df2 = pd.read_csv('/Users/03000070/Downloads/diabetes (1).csv')

In [110]:
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [112]:
df2.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [113]:
df2['SkinThickness'].value_counts()

0     227
32     31
30     27
27     23
23     22
33     20
18     20
28     20
31     19
39     18
19     18
29     17
37     16
26     16
22     16
40     16
25     16
35     15
41     15
36     14
15     14
17     14
20     13
24     12
42     11
13     11
21     10
34      8
46      8
38      7
12      7
14      6
16      6
11      6
43      6
45      6
10      5
44      5
48      4
47      4
50      3
49      3
54      2
52      2
7       2
8       2
60      1
56      1
63      1
51      1
99      1
Name: SkinThickness, dtype: int64

In [114]:
#KNN imputer to apply which will take the nearest neigbour value
# for this case we will take mean

In [133]:
def replace_zeros(col):
    mean = round(df2[df2[col]!=0][col].mean(),0)
    df2[col]=df2[col].replace(0,mean)

In [134]:
replace_zeros('SkinThickness')

In [135]:
df2['SkinThickness'].value_counts()

29.15342    227
32.00000     31
30.00000     27
27.00000     23
23.00000     22
33.00000     20
18.00000     20
28.00000     20
31.00000     19
19.00000     18
39.00000     18
29.00000     17
40.00000     16
37.00000     16
25.00000     16
22.00000     16
26.00000     16
41.00000     15
35.00000     15
36.00000     14
17.00000     14
15.00000     14
20.00000     13
24.00000     12
42.00000     11
13.00000     11
21.00000     10
34.00000      8
46.00000      8
38.00000      7
12.00000      7
11.00000      6
14.00000      6
43.00000      6
16.00000      6
45.00000      6
10.00000      5
44.00000      5
47.00000      4
48.00000      4
50.00000      3
49.00000      3
7.00000       2
52.00000      2
8.00000       2
54.00000      2
51.00000      1
99.00000      1
60.00000      1
56.00000      1
63.00000      1
Name: SkinThickness, dtype: int64

In [132]:
df2['Insulin'].value_counts()

155.548223    374
105.000000     11
140.000000      9
130.000000      9
120.000000      8
180.000000      7
94.000000       7
100.000000      7
115.000000      6
110.000000      6
135.000000      6
49.000000       5
210.000000      5
66.000000       5
56.000000       5
76.000000       5
160.000000      4
190.000000      4
200.000000      4
64.000000       4
155.000000      4
71.000000       4
90.000000       4
125.000000      4
54.000000       4
88.000000       4
165.000000      4
168.000000      4
126.000000      3
63.000000       3
             ...
81.000000       1
387.000000      1
72.000000       1
84.000000       1
89.000000       1
43.000000       1
108.000000      1
73.000000       1
52.000000       1
68.000000       1
86.000000       1
65.000000       1
271.000000      1
166.000000      1
545.000000      1
112.000000      1
16.000000       1
127.000000      1
178.000000      1
392.000000      1
22.000000       1
440.000000      1
46.000000       1
91.000000       1
15.000000       1
272.000000      1
41.000000       1
25.000000       1
600.000000      1
59.000000       1
Name: Insulin, Length: 186, dtype: int64

In [127]:
replace_zeros('Insulin')

In [128]:
df2['Insulin'].value_counts()

155.548223    374
105.000000     11
140.000000      9
130.000000      9
120.000000      8
180.000000      7
94.000000       7
100.000000      7
115.000000      6
110.000000      6
135.000000      6
49.000000       5
210.000000      5
66.000000       5
56.000000       5
76.000000       5
160.000000      4
190.000000      4
200.000000      4
64.000000       4
155.000000      4
71.000000       4
90.000000       4
125.000000      4
54.000000       4
88.000000       4
165.000000      4
168.000000      4
126.000000      3
63.000000       3
             ...
81.000000       1
387.000000      1
72.000000       1
84.000000       1
89.000000       1
43.000000       1
108.000000      1
73.000000       1
52.000000       1
68.000000       1
86.000000       1
65.000000       1
271.000000      1
166.000000      1
545.000000      1
112.000000      1
16.000000       1
127.000000      1
178.000000      1
392.000000      1
22.000000       1
440.000000      1
46.000000       1
91.000000       1
15.000000       1
272.000000      1
41.000000       1
25.000000       1
600.000000      1
59.000000       1
Name: Insulin, Length: 186, dtype: int64

In [130]:
for x in list(df2)[:-1]:
    replace_zeros(x)

In [131]:
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.00000,155.548223,33.6,0.627,50,1
1,1,85,66,29.00000,155.548223,26.6,0.351,31,0
2,8,183,64,29.15342,155.548223,23.3,0.672,32,1
3,1,89,66,23.00000,94.000000,28.1,0.167,21,0
4,4,137,40,35.00000,168.000000,43.1,2.288,33,1

In [136]:
df2.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,4.423177,121.688802,72.386719,29.153420,155.548223,32.450911,0.471876,33.240885,0.348958
std,2.980481,30.435959,12.096642,8.790942,85.021108,6.875366,0.331329,11.760232,0.476951
min,1.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,2.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,4.000000,117.000000,72.000000,29.153420,155.548223,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,155.548223,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [229]:
from sklearn.feature_selection import RFE, SelectKBest, chi2, f_classif, SelectFromModel

In [138]:
import statsmodels.api as sm

In [139]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score
from sklearn.model_selection import cross_val_score,cross_val_predict, GridSearchCV, train_test_split as tts

In [148]:
X = df2.drop(['Outcome'],1)
y = df2['Outcome']

In [150]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=list(X))

### Model 1

In [154]:
log_reg = LogisticRegression()

In [161]:
X_train, X_test,y_train, y_test = tts(X, y,test_size=0.3, random_state = 42)

log_reg.fit(X_train,y_train)

y_pred = log_reg.predict(X_test)

In [162]:
accuracy_score(y_test,y_pred)

0.7359307359307359

In [163]:
print(confusion_matrix(y_test,y_pred))

[[123  28]
 [ 33  47]]

In [164]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.81      0.80       151
           1       0.63      0.59      0.61        80

    accuracy                           0.74       231
   macro avg       0.71      0.70      0.70       231
weighted avg       0.73      0.74      0.73       231

In [165]:
ranking = log_reg.coef_.tolist()[0]

In [166]:
features = list(X)

In [168]:
d = dict(zip(features,ranking))

In [169]:
d = pd.DataFrame(d.items(), columns=['Features','Ranking'])

In [170]:
d.sort_values(['Ranking'],ascending=False)

                   Features   Ranking
1                   Glucose  1.165828
5                       BMI  0.704095
7                       Age  0.389062
0               Pregnancies  0.202298
6  DiabetesPedigreeFunction  0.104691
3             SkinThickness  0.044340
4                   Insulin  0.010503
2             BloodPressure -0.105581

In [171]:
f1 = ['Glucose','BMI','Age']

In [172]:
rfe = RFE(log_reg,3)

In [173]:
rfe.fit(X,y)

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                 fit_intercept=True, intercept_scaling=1,
                                 l1_ratio=None, max_iter=100,
                                 multi_class='warn', n_jobs=None, penalty='l2',
                                 random_state=None, solver='warn', tol=0.0001,
                                 verbose=0, warm_start=False),
    n_features_to_select=3, step=1, verbose=0)

In [174]:
rfe.support_

array([ True,  True, False, False, False,  True, False, False])

In [175]:
rfe.ranking_

array([1, 1, 4, 6, 5, 1, 2, 3])

In [176]:
features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [177]:
f2 = ['Pregnancies','Glucose','BMI']

In [178]:
X = sm.add_constant(X)

In [182]:
sm.Logit(y,X).fit().summary()

Optimization terminated successfully.
         Current function value: 0.463798
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                Outcome   No. Observations:                  768
Model:                          Logit   Df Residuals:                      759
Method:                           MLE   Df Model:                            8
Date:                Sun, 25 Aug 2019   Pseudo R-squ.:                  0.2829
Time:                        14:59:17   Log-Likelihood:                -356.20
converged:                       True   LL-Null:                       -496.74
                                        LLR p-value:                 4.333e-56
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -0.8626      0.097     -8.870      0.000      -1.053      -0.672
Pregnancies                  0.4265      0.107      3.971      0.000       0.216       0.637
Glucose                      1.1342      0.118      9.609      0.000       0.903       1.366
BloodPressure               -0.1268      0.104     -1.215      0.224      -0.331       0.078
SkinThickness                0.0326      0.116      0.282      0.778      -0.194       0.259
Insulin                     -0.0620      0.100     -0.619      0.536      -0.258       0.134
BMI                          0.6161      0.122      5.044      0.000       0.377       0.855
DiabetesPedigreeFunction     0.2840      0.099      2.877      0.004       0.091       0.478
Age                          0.1710      0.109      1.574      0.116      -0.042       0.384
============================================================================================
"""

In [189]:
def get_ols(feature_list):
    X = df2[feature_list]
    y = df2['Outcome']
    scaler = StandardScaler()
    X = pd.DataFrame(scaler.fit_transform(X), columns=list(X))
    X = sm.add_constant(X)
    model = sm.Logit(y,X).fit()
    if len(model.pvalues[model.pvalues > 0.05]) != 0:
        feature_2_eliminate = model.pvalues[model.pvalues > 0.05].idxmax()
        feature_list.remove(feature_2_eliminate)
        return get_ols(feature_list)
    return model

get_cols = list(df2)
get_cols.remove('Outcome')
final_model = get_ols(get_cols)
get_features = list(final_model.params.keys())
get_features.remove('const')
get_features

Optimization terminated successfully.
         Current function value: 0.463798
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.463850
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.464094
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.464993
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.466170
         Iterations 6

['Pregnancies', 'Glucose', 'BMI', 'DiabetesPedigreeFunction']

In [210]:
def replace_zeros(col):
    mean = round(df[df[col]!=0][col].mean(),0)
    df[col].replace([0,mean], inplace=True)
    columns = list(df)[:-1]
    for column in columns:
        replace_zeros(column)
        
        
def get_ols_v2(df, feature_list):
        X = df[feature_list]
        y = df['Outcome']
        scaler = StandardScaler()
        X = pd.DataFrame(scaler.fit_transform(X), columns=list(X))
        X = sm.add_constant(X)
        model = sm.Logit(y,X).fit()
        if len(model.pvalues[model.pvalues > 0.05]) != 0:
            feature_2_eliminate = model.pvalues[model.pvalues > 0.05].idxmax()
            feature_list.remove(feature_2_eliminate)
            return get_ols_v2(df,feature_list)
        return model

In [211]:
    get_cols = list(df2)
    get_cols.remove('Outcome')
    final_model = get_ols_v2(df2, get_cols)
    get_features = list(final_model.params.keys())
    get_features.remove('const')
    get_features

Optimization terminated successfully.
         Current function value: 0.463798
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.463850
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.464094
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.464993
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.466170
         Iterations 6

['Pregnancies', 'Glucose', 'BMI', 'DiabetesPedigreeFunction']

In [223]:
#RFe works on models
#selectkbest works on statistical data
from sklearn.preprocessing import MinMaxScaler

### Kbest using f_classif

In [226]:
df2 = pd.read_csv('/Users/03000070/Downloads/diabetes (1).csv')

X = df2.drop(['Outcome'], 1)
y = df2['Outcome']
scaler = MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=list(X))
kbest = SelectKBest(f_classif, k=4)
fit = kbest.fit(X,y)
ranking = fit.scores_.tolist()
features = list(X)
d = pd.DataFrame(dict(zip(features, ranking)).items(), columns=['Features', 'Ranking'])
d.sort_values(['Ranking'], ascending= False)

                   Features     Ranking
1                   Glucose  213.161752
5                       BMI   71.772072
7                       Age   46.140611
0               Pregnancies   39.670227
6  DiabetesPedigreeFunction   23.871300
4                   Insulin   13.281108
3             SkinThickness    4.304381
2             BloodPressure    3.256950

### Kbest using chi2

In [227]:
df2 = pd.read_csv('/Users/03000070/Downloads/diabetes (1).csv')


#replace_zeros(column)
    
X = df2.drop(['Outcome'], 1)
y = df2['Outcome']
scaler = MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=list(X))
kbest = SelectKBest(chi2, k=4)
fit = kbest.fit(X,y)
ranking = fit.scores_.tolist()
features = list(X)
d = pd.DataFrame(dict(zip(features, ranking)).items(), columns=['Features', 'Ranking'])
d.sort_values(['Ranking'], ascending= False)

                   Features   Ranking
7                       Age  8.205691
1                   Glucose  7.094910
0               Pregnancies  6.559982
6  DiabetesPedigreeFunction  2.758584
4                   Insulin  2.571590
5                       BMI  1.902673
3             SkinThickness  0.536445
2             BloodPressure  0.144306

### Feature select using selectfromModel

In [236]:
sfm = SelectFromModel(log_reg, max_features=4)
sfm.fit(X,y)

SelectFromModel(estimator=LogisticRegression(C=1.0, class_weight=None,
                                             dual=False, fit_intercept=True,
                                             intercept_scaling=1, l1_ratio=None,
                                             max_iter=100, multi_class='warn',
                                             n_jobs=None, penalty='l2',
                                             random_state=None, solver='warn',
                                             tol=0.0001, verbose=0,
                                             warm_start=False),
                max_features=4, norm_order=1, prefit=False, threshold=None)

In [242]:
sfm.get_support()

array([False,  True, False, False, False,  True, False, False])

In [241]:
print(list(X), sfm.get_support())

['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'] [False  True False False False  True False False]